

<head>
    <!-- style sheet removed -->
    
</head>

<body>
    
<section id="letter">
    <div style="zoom:75%"><img width="914" height="233"  src="./NZ/logos/600000185" /></div>
    <p>DATE</p>
    <p>
<address>Mr C O&#39;Dea
1/7A Waiataua Road
Tikipunga
WHANGAREI 0185
</address>
</p>
    <p>&nbsp;</p>
    <p>Dear Colin,</p>

    <table>
        <tbody>
            <tr>
                <td><strong>Re:</strong></td>
                <td><strong>Name of Insured:</strong></td>
                <td>Colin and RE O&#39;Dea</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Type of Insurance:</strong></td>
                <td>Residential Dwelling &amp; Contents - Komiti Road, Tinopai</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Policy No:</strong></td>
                <td>32 7296758 BPL</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Date of Loss:</strong></td>
                <td>24/10/2010 00:00 (24hr)</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Claim Type:</strong></td>
                <td>Glass Breakage</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Our Claim Ref No.:</strong></td>
                <td>L300009696</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Insurer Claim Ref No.:</strong></td>
                <td>32 0255444 AKS</td>
            </tr>
        </tbody>
    </table>

    
    <p>I have pleasure in enclosing a cheque for the amount of $481.90 being full and final settlement of the above claim.</p>
    <p>Should you have any queries, or require any additional information please do not hesitate to contact me.</p>

    <p>&nbsp;</p>
    <p>
        Your sincerely,
    </p>
    

        <div style="height: 81px; width: 150px;"></div> <strong>Personal Lines Department</strong> <br />
    <strong>Apex General Limited</strong>
    <br />
<br />


        <div>
            <strong>Phone: </strong>
            <span>(09) 5209441</span>
        </div>

        <div>
            <strong>Email: </strong>
            <span>personallines@apexinsurance.co.nz</span>
        </div>



</section>
</body>