



<head>
    <title>quote_strike_rate</title>
    <!-- style sheet removed -->
</head>

    <body>
        <header>
            <h1>quote_strike_rate</h1>
            <div class="subHeader">
                Data Generated: 2/16/2017 2:37:22 PM (Sydney Time)<br />
                Branch: 200,304 • Adviser: All • Created Date: From 01/01/2014 To 21/07/2016
                
            </div>
        </header>

        
<section id="head">

</section>

<section id="legend" class="align-center smallheader">
    <p></p>
    <div>
        <span class="bold">New Quotes - </span>
        <span>All Quotes created within Date Range</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div>
        <span class="bold">Converted Quotes - </span>
        <span>Converted as at report date for Quotes created within Date Range</span>
    </div>
    <div>
        <span class="bold">Active Quotes - </span>
        <span>Active as at report date for Quotes created within Date Range</span>
    </div>
    <div>
        <span class="bold">Declined Quotes - </span>
        <span>Declined as at report date for Quotes created within Date Range</span>
    </div>
    <div>
        <span class="bold">Expired Quotes - </span>
        <span>Expired as at report date for Quotes created within Date Range</span>
    </div>
</section>

<table>
    <thead>
        <tr>
            <th width="70"><label for="modelSchema_AdviserCode">Adviser Code</label></th>
            <th width="900"><label for="modelSchema_AdviserName">Adviser Name</label></th>
            <th width="80"><label for="modelSchema_QuotesCreatedCount">No Of Quotes Created</label></th>
            <th width="80"><label for="modelSchema_QuotesConvertedCount">No Of Quotes Converted</label></th>
            <th width="80"><label for="modelSchema_QuotesConvertedPercent">Converted Quotes %</label></th>
            <th width="80"><label for="modelSchema_QuotesAverageDaysToConvert">Avg Days To Conversion</label></th>
            <th width="80"><label for="modelSchema_QuotesActiveCount">No Of Quotes Active</label></th>
            <th width="80"><label for="modelSchema_QuotesDeclinedCount">No Of Quotes Declined</label></th>
            <th width="80"><label for="modelSchema_QuotesExpiredCount">No Of Quotes Expired</label></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th class="bold" colspan="2"><label for="branchModelSchema_CompanyOfficeCode">Branch:</label> 200 Everest Risk Group Pty Limited</th>
            </tr>
                <tr>
                    <td>262111</td>
                    <td>Anthony Anastasio</td>
                    <td class="align-right">81</td>
                    <td class="align-right">67</td>
                    <td class="align-right">82.72</td>
                    <td class="align-right">2</td>
                    <td class="align-right">0</td>
                    <td class="align-right">1</td>
                    <td class="align-right">13</td>
                </tr>
                <tr>
                    <td>335019</td>
                    <td>Robert Huntley</td>
                    <td class="align-right">88</td>
                    <td class="align-right">81</td>
                    <td class="align-right">92.05</td>
                    <td class="align-right">1</td>
                    <td class="align-right">0</td>
                    <td class="align-right">3</td>
                    <td class="align-right">4</td>
                </tr>
                <tr>
                    <td>447131</td>
                    <td>Sean McDermott</td>
                    <td class="align-right">157</td>
                    <td class="align-right">134</td>
                    <td class="align-right">85.35</td>
                    <td class="align-right">2</td>
                    <td class="align-right">0</td>
                    <td class="align-right">1</td>
                    <td class="align-right">22</td>
                </tr>
            <tr>
                <th class="align-right bold" colspan="2">Total for Branch 200:</th>
                <td class="align-right borderTop">326</td>
                <td class="align-right borderTop">282</td>
                <td class="align-right borderTop">86.50</td>
                <td class="align-right borderTop">1</td>
                <td class="align-right borderTop">0</td>
                <td class="align-right borderTop">5</td>
                <td class="align-right borderTop">39</td>
            </tr>
            <tr>
                <th class="bold" colspan="2"><label for="branchModelSchema_CompanyOfficeCode">Branch:</label> 320 ALH Insurance Services Pty Ltd</th>
            </tr>
                <tr>
                    <td>1008090</td>
                    <td>Daniel Saitta</td>
                    <td class="align-right">41</td>
                    <td class="align-right">31</td>
                    <td class="align-right">75.61</td>
                    <td class="align-right">3</td>
                    <td class="align-right">0</td>
                    <td class="align-right">0</td>
                    <td class="align-right">10</td>
                </tr>
                <tr>
                    <td>262153</td>
                    <td>Anne Hartree</td>
                    <td class="align-right">486</td>
                    <td class="align-right">346</td>
                    <td class="align-right">71.19</td>
                    <td class="align-right">3</td>
                    <td class="align-right">0</td>
                    <td class="align-right">2</td>
                    <td class="align-right">138</td>
                </tr>
                <tr>
                    <td>466689</td>
                    <td>Deon Palambouikidis</td>
                    <td class="align-right">1</td>
                    <td class="align-right">1</td>
                    <td class="align-right">100.00</td>
                    <td class="align-right">0</td>
                    <td class="align-right">0</td>
                    <td class="align-right">0</td>
                    <td class="align-right">0</td>
                </tr>
            <tr>
                <th class="align-right bold" colspan="2">Total for Branch 320:</th>
                <td class="align-right borderTop">528</td>
                <td class="align-right borderTop">378</td>
                <td class="align-right borderTop">71.59</td>
                <td class="align-right borderTop">2</td>
                <td class="align-right borderTop">0</td>
                <td class="align-right borderTop">2</td>
                <td class="align-right borderTop">148</td>
            </tr>
        <tr>
            <td class="bold"></td>
            <th class="align-right bold" colspan="1">Grand Total:</th>
            <td class="align-right borderTop">854</td>
            <td class="align-right borderTop">854</td>
            <td class="align-right borderTop">100.00</td>
            <td class="align-right borderTop">2</td>
            <td class="align-right borderTop">854</td>
            <td class="align-right borderTop">854</td>
            <td class="align-right borderTop">854</td>
        </tr>
        </tbody>
    </table>

    </body>