



<head>
    <title>renewal_overdue</title>
    <!-- style sheet removed -->
</head>

    <body>
        <header>
            <h1>renewal_overdue</h1>
            <div class="subHeader">
                Data Generated: 2/16/2017 3:41:11 PM (Sydney Time)<br />
                Expiry Date: From 30/11/2015 To 21/07/2016 • Adviser: All • Branch: 999
                
            </div>
        </header>

        
<section id="head">

</section>

<table>
    <thead>
        <tr>
            <th width="80"><label for="detailModelSchema_ClientCode">Client Code</label></th>
            <th width="100"><label for="detailModelSchema_ClientShortName">Client Short Name</label></th>
            <th width="200"><label for="detailModelSchema_ClientName">Client Name</label></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    <tr>
        <th><label for="detailModelSchema_PolicyDescription">Class</label></th>
        <th></th>
        <th></th>
        <th width="80"><label for="detailModelSchema_CoverVer">Cover/Ver</label></th>
        <th width="80"><label for="detailModelSchema_ExpiryDate">Expiry Date</label></th>
        <th><label for="detailModelSchema_InsurerName">Insurer</label></th>
        <th width="80"><label for="detailModelSchema_PercentageHeld">% Held</label></th>
        <th><label for="detailModelSchema_InsurerPolicyNo">Policy No</label></th>
    </tr>
    </thead>
    <tbody>
            <tr>
                <th class="bold" colspan="5">Renewable Policies - please action as a matter of urgency</th>
            </tr>
                <tr>
                    <th class="bold" colspan="5"><label for="branchgModelSchema_CompanyOfficeCode">Branch:</label> 999 Dummy for demos</th>
                </tr>
                    <tr>
                        <th class="bold" colspan="5"><label for="advserModelSchema_AdviserCode">Adviser:</label> 262126 Ian Carr</th>
                    </tr>
                        <tr>
                            <td>C600032343</td>
                            <td>IAACC</td>
                            <td>IAA Credit Card - 1% Merchant Fee</td>
                        </tr>
                        <tr>
                            <td>Fee (dummy invoice)</td>
                            <td></td>
                            <td></td>
                            <td>P600665423/1</td>
                            <td>21/09/2012</td>
                            <td>Fee Account</td>
                            <td>100.00</td>
                            <td></td>
                        </tr>
                    <tr><td></td></tr>
    </tbody>
</table>

    </body>